body {
  background-color: azure;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px red solid;
}

h1 {
  font-size: 35px;
  padding: 10px;
}

ol {
  display: flex;
  justify-content: right;
  font-size: 25px;
  padding: 10px;
}

ol>li {
  padding: 10px;
}

aside {
border: 1px red solid;
}

table {
  margin: 20px;
}

td,
th {
  border: 1px solid black;
  padding: 20px;
}

